<p id="notice"><%= notice %></p>
<div class="panel panel-default">
  <div class="panel-body">
<p>
  <strong>User:</strong>
  <%= @comment.user_id %>
</p>

<p>
  <strong>Post:</strong>
  <%= @comment.post_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @comment.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @comment.content %>
</p>





  </div>
  <div class="panel-footer">
    <% if @comment.user == current_user %>
      <%= link_to 'Edit', edit_comment_path(@comment) %>
    <%end %>

    <%= link_to 'Back', post_comment_path %>
  </div>
</div>