<%= form_with(model: post_category, local: true) do |form| %>
  <% if post_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post_category.errors.count, "error") %> prohibited this post_category from being saved:</h2>

      <ul>
        <% post_category.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :post_id %>
    <%= form.text_field :post_id %>
  </div>

  <div class="field">
    <%= form.label :category_id %>
    <%= form.text_field :category_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
