

<%= form_with(model: user_blog, local: true) do |form| %>
  <% if user_blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user_blog.errors.count, "error") %> prohibited this user_blog from being saved:</h2>

      <ul>
        <% user_blog.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, class: 'form-control'  %>
  </div>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control'  %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
