<p id="notice"><%= notice %></p>
<div class="panel panel-default">
  <div class="panel-body">
<p>
  <strong>User:</strong>
  <%= @user_blog.user_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user_blog.name %>
</p>
    <h2>Post:</h2>
    <% @user_blog.posts.each do |post| %>
      <%= post.user_blog_id %>
      <%= image_tag post.image.url(:medium) %>
      <%= post.title %>
      <%= post.content %>
      <%= post.updated_at %>
      <td><%= link_to 'Show', post %></td>
      <% if @user_blog.user == current_user %>
      <td><%= link_to 'Edit', edit_post_path(post) %></td>
      <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%end %>
    <% end %>


  </div>
  <div class="panel-footer">
    <% if @user_blog.user == current_user %>
      <%= link_to 'Edit', edit_user_blog_path(@user_blog) %>
      <%= link_to 'New post', new_user_blog_post_path(@user_blog) %>
    <%end %>

    <%= link_to 'Back', user_blogs_path %>
  </div>
</div>