<div class="panel panel-default">
  <div class="panel-body">


    <div class="page-header">
      <h1> <%= @user_blog.name %> <small>created by user <%@user.email %></small></h1>
    </div>

    <% if @user_blog.user == current_user %>
      <%= link_to 'Change blog name', edit_user_blog_path(@user_blog), class: "btn btn-danger" %>
      <%= link_to 'New post', new_user_blog_post_path(@user_blog), class: "btn btn-info" %>
    <%end %>


    <div class="container">

      <div id="posts" class="transitions-enabled">
    <% @user_blog.posts.each do |post| %>
          <div class="box">
            <div class="panel panel-default">
              <div class="panel-heading"><center><h3><%= link_to post.title, user_blog_post_path(user_blog_id: post.user_blog_id, id: post.id) %></h3></center></div> <br/>
              <p><%= post.created_at %> <br/></p>
              <%= image_tag post.image.url(:thumb) %> <br/>
            </div>



      <% if @user_blog.user == current_user %>
            <div class="panel-footer">
              <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default"><%= link_to 'Edit', edit_post_path(post) %> <br/></button>
                <button type="button" class="btn btn-default"> <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></button>
              </div>

            </div>
        <%end %>
          </div>
    <% end %>
      </div>
    </div>


  </div>
  <div class="panel-footer">


    <%= link_to 'Back', root_path %>
  </div>
</div>