<%= form_for @post, html: { multipart: true } do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= form.hidden_field :user_blog_id, value: "#{params[:user_blog_id]}" %>

  <div class="form-group">
    <%= form.label :location_id %>
    <%= form.text_field :location_id, class: 'form-control' %>
  </div>

  <div class="form-group"></div>
    <%= form.label :image, "Obraz" %>
    <%= form.file_field :image, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, class: 'form-control'%>
  </div>

  <div class="form-group">
    <%= form.label :content %>
    <%= form.text_area :content, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :date %>
    <%= form.date_select :date, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :time %>
    <%= form.time_select :time, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.submit %>
  </div>
<% end %>
