<p id="notice"><%= notice %></p>




  <div class="panel panel-default">
    <div class="panel-heading">Search posts:</div>
  <%= form_tag(posts_path, method: "get") do %>
      <div class="form-group">
        <%=label_tag ("select post categories") %>
        <%= select_tag "category_ids", options_from_collection_for_select(Category.all, :id, :name), multiple: true, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= label_tag ("select post location") %>
        <%= select_tag "location_id", options_from_collection_for_select(Location.all, :id, :city), multiple:true, class:"form-control"%>
      </div>
      <div class="form-group">
        <%= label_tag ("Enter the keyword") %>
        <%= search_field_tag :keywords, '', { :class => 'form-control' } %>
      </div>

      <div class="form-group">
        <%= label_tag ("select year") %>
        <%= select_year(Date.today, {:start_year => DateTime.now.year,:end_year => DateTime.now.year - 7, prefix: 'select'},{:field_name => 'year', :id => 'start-year',:include_blank => true, class: "form-control"})  %>
      </div>


      <%= submit_tag "Submit" %>
  <% end %>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">Posts:</div>
<table class="table">
  <thead>
    <tr>
      <th>User blog</th>
      <th>Image</th>
      <th>Title</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.user_blog_id %></td>
        <td><%= image_tag post.image.url(:thumb) %></td>
        <td><%= post.title %></td>
        <td><%= post.content %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

  <div class="panel-footer"><%= link_to 'New post', new_post_path %> </div>
</div>