
    <div class="row">

        <div class="thumbnail">
          <br/>
          <%= image_tag @post.image.url(:medium), :style => "border: 4px solid #1EC9E8"  %></center> <br/>
          <div class="caption">
            <div class="page-header">
              <h1>  <%= @post.title %> <small> <%= @post.created_at %></small></h1>
            </div>



    <p><%= @post.content %></p>
            <% if user_signed_in? %>
          <%= link_to "Add Comment", new_post_comment_path(post_id: @post.id ), class:"btn btn-info" %>
              <%end %>
            <% if @post.user_blog.user == current_user %>


                  <%= link_to 'Edit', edit_user_blog_post_path(user_blog_id: @post.user_blog_id, id: @post.id), class:"btn btn-primary" %>
                  <%= link_to 'Destroy', user_blog_post_path(user_blog_id: @post.user_blog_id, id: @post.id), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
              


            <%end %>
            <%= link_to 'Back', user_blog_path(id:@post.user_blog_id), class: "btn btn-warning" %>
          </div>

        </div>

    </div>





    <h2>Comments:</h2>
    <% @post.comments.each do |comment| %>
      <div class="panel panel-default">
        <div class="panel-heading"><h3>  <%= comment.user.name %> <small> <%= comment.created_at %></small></h3></div>
        <div class="panel-body">
          <h4><%= comment.title %> <br/>
            <small><%= comment.content %></small></h4>


      <% if comment.user == current_user %>
            </div>
            <div class="panel-footer">
        <td><%= link_to 'Edit', edit_post_comment_path(id: comment.id, post_id: comment.post.id) %></td>
        <td><%= link_to 'Destroy', post_comment_path(id: comment.id, post_id: comment.post.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <%end %>

        </div>
      </div>
    <% end %>

  </div>


      <%= link_to 'Back', user_blog_path(id:@post.user_blog_id) %>

