<p id="notice"><%= notice %></p>
<div class="panel panel-default">
  <div class="panel-body">
<p>
  <strong>User blog:</strong>
  <%= @post.user_blog_id %>

  <%= image_tag @post.image.url(:medium) %><br/>



  <strong>Title:</strong>
  <%= @post.title %>



  <strong>Content:</strong>
  <%= @post.content %>




</p>

  </div>
    <div class="panel-footer">

      <%= link_to 'Edit', edit_post_path(@post) %>

      <%= link_to 'Back', posts_path %>
    </div>
  </div>
