<p id="notice"><%= notice %></p>
<div class="panel panel-default">
  <div class="panel-body">
<p>
  <strong>User blog:</strong>
  <%= @post.user_blog_id %>

  <%= image_tag @post.image.url(:medium) %><br/>



  <strong>Title:</strong>
  <%= @post.title %>



  <strong>Content:</strong>
  <%= @post.content %>




</p>

    <h2>Comments:</h2>
    <% @post.comments.each do |comment| %>
      <%= comment.post_id %>
      <%= comment.title %>
      <%= comment.content %>
      <%= comment.updated_at %>
      <td><%= link_to 'Show', comment %></td>
      <% if comment.user == current_user %>
        <td><%= link_to 'Edit', edit_comment_path(comment) %></td>
        <td><%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <%end %>
    <% end %>

  </div>
    <div class="panel-footer">

      <% if user_signed_in? %>
        <%= link_to "Add Comment", new_post_comment_path(post_id: @post.id ) %>
      <%end %>

      <%= link_to 'Back', posts_path %>
    </div>
  </div>
