<!DOCTYPE html>
<html>
  <head>
    <title>Blogowo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-     ↳scale=1">
  </head>

  <body>

  <%= render 'home/header'  %>


    <div class = "container">
      <div class = "jumbotron">
        <h1>Welcome in our site..</h1>
        <p>.. and create your blog with us or check blogs other users</p>
      </div>
      <% flash.each do |name, msg| %>
        <%= content_tag(:div, msg, class: "alert alert-info") %>
      <% end %>
      <%= yield %>
    </div>

  </body>
</html>
